.form-section
  = f.text_area :name, label: 'Section Name' # TODO change to show section number
  = f.check_box :_destroy, label: 'Remove Section'
  = f.fields_for :interview_questions do |question_f|
    = render 'instruments/nojs/interview_question_fields', f: question_f
  = f.check_box :_add_question, label: 'Add Question'
