= bootstrap_form_for @instrument do |f|
  .form-section
    = f.select :ucl_id, options_for_select(Ucl.options_for_select), label: 'Select UCL for this instrument:'
    = f.text_field :name, label: 'Instrument name:'
  %h3 Observation
  = f.fields_for :observation_sections, @observation_sections do |section_f|
    = render 'observation_section_fields', f: section_f
  %h3 Interview
  = f.fields_for :interview_sections, @interview_sections do |section_f|
    = render 'interview_section_fields', f: section_f
  = f.submit
