= bootstrap_form_for @instrument do |f|
  .field
    = f.select :ucl_id, options_for_select(Ucl.options_for_select), label: 'Select UCL for this instrument:'
  .field
    = f.text_field :name, label: 'Instrument name:'
  %h3 Observation
  #observation_sections
    = f.fields_for :observation_sections do |section|
      = render 'observation_section_fields', f: section
    .links
      = link_to_add_association 'add section', f, :observation_sections
  = f.submit "Save Instrument"
