-# This form works with JS disabled in the browser
= bootstrap_form_for @instrument do |f|
  .form-section
    = f.select :ucl_id, options_for_select(Ucl.options_for_select), label: 'Select UCL for this instrument:'
    = f.text_field :name, label: 'Instrument name:'
  %h3 Observation
  .form-section
    = f.fields_for :observation_sections, @observation_sections do |section_f|
      = render 'observation_section_fields', f: section_f
    = f.check_box :_add_observation_section, label: 'Add Observation Section'
  %h3 Interview
  .form-section
    = f.fields_for :interview_sections, @interview_sections do |section_f|
      = render 'interview_section_fields', f: section_f
    = f.check_box :_add_interview_section, label: 'Add interview Section'
  = f.submit
