.nested-fields
  .field
    = link_to_remove_association "&times;".html_safe, f
    = f.text_area :name, label: 'Section:'
    .questions
    -#
      = render partial: 'interview_questions_view', locals: {interview_section: f.object, show_edit: false}
      - if f.object.id.nil?
        %i You must save the instrument before you can add questions to this section.
      - else
        = link_to "&#9658; &nbsp; #{f.object.observation_questions.count > 0 ? "Edit" : "Add" } Questions".html_safe, edit_observation_section_path(f.object.id)
