%h3 Showing Instrument

%section
  .column
    %strong Instrument name:
    %ul
      %li= @instrument.name
    %strong UCL:
    %ul
      %li= @instrument.ucl.human_readable_name
    - if @instrument.observation_sections.count == 0 # todo move to model
      %strong No Observation Sections
    - else
      %strong Observation Sections
      %ol{type: "A"}
        - @observation_sections.each do |observation_section|
          %li= observation_section.name
          = render partial: 'observation_questions_view', locals: {observation_section: observation_section}
      %strong Interview Sections
      %ol{type: "A"}
        - @interview_sections.each do |interview_section|
          %li= interview_section.name
          = render partial: 'interview_questions_view', locals: {interview_section: interview_section}
%section
  .column
    = button_to 'Edit Instrument', edit_instrument_path(@instrument), class: 'button', method: :get
    = button_to 'Delete Instrument', instrument_path(@instrument), class: 'button', method: :delete, data: {confirm: 'Really delete this instrument?'}
